RESEND_API_KEY=<REPLACE_WITH_RESEND_API_KEY>

JIRA_OAUTH_CLIENT_ID=<REPLACE_WITH_JIRA_OAUTH_CLIENT_ID>
JIRA_OAUTH_CLIENT_SECRET=<REPLACE_WITH_JIRA_OAUTH_CLIENT_SECRET>
JIRA_OAUTH_REDIRECT_URI=<REPLACE_WITH_JIRA_OAUTH_REDIRECT_URI>

LINEAR_OAUTH_CLIENT_ID=<REPLACE_WITH_LINEAR_OAUTH_CLIENT_ID>
LINEAR_OAUTH_CLIENT_SECRET=<REPLACE_WITH_LINEAR_OAUTH_CLIENT_SECRET>
LINEAR_OAUTH_REDIRECT_URI=<REPLACE_WITH_LINEAR_OAUTH_REDIRECT_URI>

GITHUB_OAUTH_CLIENT_ID=<REPLACE_WITH_GITHUB_OAUTH_CLIENT_ID>
GITHUB_OAUTH_CLIENT_SECRET=<REPLACE_WITH_GITHUB_OAUTH_CLIENT_SECRET>
GITHUB_OAUTH_REDIRECT_URI=<REPLACE_WITH_GITHUB_OAUTH_REDIRECT_URI>

TOKEN_ENCRYPTION_SECRET=<REPLACE_WITH_TOKEN_ENCRYPTION_SECRET>
INTERNAL_API_SECRET=<REPLACE_WITH_INTERNAL_API_SECRET>