POLYCHAT_API_TOKEN=<REPLACE_WITH_POLYCHAT_API_TOKEN>

JIRA_OAUTH_CLIENT_ID=<REPLACE_WITH_JIRA_OAUTH_CLIENT_ID>
JIRA_OAUTH_CLIENT_SECRET=<REPLACE_WITH_JIRA_OAUTH_CLIENT_SECRET>
JIRA_OAUTH_REDIRECT_URI=<REPLACE_WITH_JIRA_OAUTH_REDIRECT_URI>

LINEAR_OAUTH_CLIENT_ID=<REPLACE_WITH_LINEAR_OAUTH_CLIENT_ID>
LINEAR_OAUTH_CLIENT_SECRET=<REPLACE_WITH_LINEAR_OAUTH_CLIENT_SECRET>
LINEAR_OAUTH_REDIRECT_URI=<REPLACE_WITH_LINEAR_OAUTH_REDIRECT_URI>

GITHUB_OAUTH_CLIENT_ID=<REPLACE_WITH_GITHUB_OAUTH_CLIENT_ID>
GITHUB_OAUTH_CLIENT_SECRET=<REPLACE_WITH_GITHUB_OAUTH_CLIENT_SECRET>
GITHUB_OAUTH_REDIRECT_URI=<REPLACE_WITH_GITHUB_OAUTH_REDIRECT_URI>

TOKEN_ENCRYPTION_SECRET=<REPLACE_WITH_TOKEN_ENCRYPTION_SECRET>

FEEDBACK_GITHUB_TOKEN=<REPLACE_WITH_FEEDBACK_GITHUB_TOKEN>

STATS_INGEST_TOKEN=<REPLACE_WITH_STATS_INGEST_TOKEN>
INTERNAL_API_SECRET=<REPLACE_WITH_INTERNAL_API_SECRET>